$primary_color: #0060ff;$secondary_color: #000000;$third_color: #106cc7;$four_color: #ffd200;$link_color: #0060ff;$link_color_hover: #4c90ff;$link_color_active: #4c90ff;$gradient_color_from: #06ffdf;$gradient_color_to: #0042ff;
                $body_default_font: Google-Font;
            
                $heading_default_font: Poppins;
            $var_gradient_color_from: var(--gradient-color-from);$var_gradient_color_to: var(--gradient-color-to);